
/* darkmode z-index control */
.darkmode-layer, .darkmode-toggle {
    z-index: 2;
}

/* darkmode image colour override control */
.darkmode--activated #img-resource {
    isolation: isolate;
    mix-blend-mode: difference;
}

/* responsive font size */
html { font-size: calc(0.7em + 0.7vw) }
button { font-size: inherit }
input { font-size: inherit }

h4 { 
    text-align: center; 
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold; 
    color: black;
}

h2 {
    text-align: center; 
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold; 
    color: black;
}

h6 { 
    text-align: center;
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold;  
    color: black;
}

body { font-size: 0.8em }
input { text-align: center }

.badge-secondary { font-size: 0.1em }
 
/* form placeholder text fomatting */
.form-control::placeholder {
    font-family: 'Courier New', Courier, monospace;
    color:black;
    font-size: 0.8em;
    font-weight: normal;
    text-align: center;
}

.form-inline::placeholder {
    font-family: 'Courier New', Courier, monospace;
    color:black;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center; 
}

.form-control::placeholder {
    font-family: 'Courier New', Courier, monospace;
    color:black;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center; 
}

input {
    font-family: 'Courier New', Courier, monospace;
    border: solid 0.2em gray;
    font-weight: 600;
    font-size: 0.8rem;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: auto;
    grid-gap: 0.8rem;    
}

.card {
    width: 21rem;
}

#nav {
    background-color: rgb(195, 235, 195) !important;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1em;
    width: 100vw;
}

#search-box {
    border: ridge 1px gray;
}

/* 2nd nav bar */
#second-nav {
    background-image: url('/static/Electronic-circuit-board-2560x1600-wallpaper.jpg');   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0.08em gray solid;
    border-top: 0.08em gray solid;
    font-size: 0.9em;
    width: 100%;
    padding-bottom: 0.8em;
}

#select-dropdown-menu {
    font-family: 'Courier New', Courier, monospace;
}

#option-select {
    border: ridge 1px gray;
}

#dateBlock {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em !important;
    font-weight: 600;
    color: black;
    padding: 0.2rem;
    margin: 0.2em;
}

#username-date {
    color: black;
    font-size: 1.5em;
}

#resource-body-text {
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace; 
    padding: 0.5em;
    font-size: 0.9em;
}

#resource-display-div {
    background-color: whitesmoke !important;
    color: black;
    text-align: center;
    border: ridge 2px gray;
    border-radius: 10px;
    font-size: 1em;
    margin-bottom: 1em;
}

#card-body {
    margin-top: 0.1em;
}

#img-resource {
    border: ridge 2px gray;
    margin-top: 2em;
    margin: 1em;
    width: 60%;
}

/* image to fill base of md size screens */
#display-bg-div {
    background-image: linear-gradient(to right bottom, rgb(195, 235, 195), rgb(187, 207, 187));
    padding: 1em;
    padding-bottom: 3em;
    overflow: auto;
}

#mobile-bg-div {
    background-image: linear-gradient(to right bottom, rgb(195, 235, 195), rgb(187, 207, 187));
    color: rgb(187, 207, 187);
    height: 10vh;
    width: 100%;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
}

#mobile-bg-div-2 {
    background-image: linear-gradient(to right bottom, rgb(195, 235, 195), rgb(187, 207, 187));
    color: black;
    height: 21vh;
    width: 100%;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
    z-index: 1.5;
}

#title {
    color: green;
}

/* all buttons */
#btn {
    font-family: 'Courier New', Courier, monospace;
    border-color: black;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
    font-size: inherit;
}

#btn-delete-div {
    margin-top: 1em;
}

#btn-delete {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    border-color: black;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
    font-size: 0.6rem;
}

/* form div */
#form {
    z-index: 1;
    background-color: whitesmoke;
    color: black !important;
    border: ridge 3px gray;
    padding: 2em;
    font-weight: normal;
    text-align: center;
}

/* text formatting and sizes */
#text-field {
    width: 25rem;
}

#text-body {
    color: black !important;
    font-weight: normal !important;
    font-family: 'Courier New', Courier, monospace !important;
    padding: 1rem;
    text-align: center;
}


#form-text-other {
    font-size: 0.8em;
    color: black;
}

#message {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    text-align: center;
    color: black !important;
}

#message-icon {
    margin: 1em;
}

#formHelpBlock {
    font-weight: normal !important;
    font-size: 0.7em;
    margin: 0.5rem;
    color: black !important;
}

#uploadLabel {
    font-family:'Courier New', Courier, monospace;
    text-align: left;
}

#username-btn {
    font-weight: 500 !important;
}

#form-checkbox, #form-checkbox2 {
    justify-content: center;
    text-align: center;
    background-color: rgb(195, 235, 195);
}

#entry-file {
    font-family: 'Courier New', Courier, monospace; 
}

#entryDesc {
    height: 3em;
}

/* footer */
#footer {
    background-image: url('/static/Electronic-circuit-board-2560x1600-wallpaper.jpg');
    background-position: center;
    border-top: ridge 1px gray;
    color: black;
    padding: 0;
    z-index: 1;
}

#link-footer {
    color: black !important;
}