
/* darkmode z-index control */
.darkmode-layer, .darkmode-toggle {
    z-index: 2;
} 

/* darkmode image colour override control */
.darkmode--activated .img-thumbnail #img-thumbnail {
    isolation: isolate;
    mix-blend-mode: difference;
}

.img-thumbnail {
    height: auto;
    width: auto;
}

/* responsive font size */
html { font-size: calc(0.7em + 0.7vw) }
button { font-size: inherit }
input { font-size: inherit }

h4 { 
    text-align: center; 
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold; 
}

h6 { 
    text-align:center;
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold;  
}

body { font-size: 0.8em }
input { text-align: center }

@media only screen and (min-width: 300px) and (max-height: 660px) {
    #back-background-block {
        height: 58vh;
    }

    #carouselExampleFade {
        height: 58vh;
    }

    #carousel-inner {
        height: 58vh;
    }

    #carousel-button {
        height: 58vh;
    }

    #form {
        height: 58vh;
    }

    #resource-display-div {
        height: 58vh;
    }
}
/* for iphone 6 */
@media only screen and (min-width: 350px) and (max-height: 815px) {
    #back-background-block {
        height: 70vh;
    }

    #carouselExampleFade {
        height: 70vh;
    }

    #carousel-inner {
        height: 70vh;
    }

    #carousel-button {
        height: 70vh;
    }

    #form {
        height: 70vh;
    }

    #resource-display-div {
        height: 70vh;
    }
}
/* for iphone XS only */
@media only screen and (min-width: 800px) and (max-height: 400px) {
    #back-background-block {
      height: 120vh;
    }

    #carouselExampleFade {
        height: 120vh;
    }

    #carousel-inner {
        height: 120vh;
    }

    #carousel-button {
        height: 120vh;
    }

    #form {
        height: 120vh;
    }

    #resource-display-div {
        height: 120vh;
    }
}
/* for iphone 8 */
@media only screen and (min-width: 660px) and (max-height: 820px){

    #back-background-block {
        height: 110vh;
      }
  
      #carouselExampleFade {
          height: 110vh;
      }
  
      #carousel-inner {
          height: 110vh;
      }
  
      #carousel-button {
          height: 110vh;
      }
  
      #form {
          height: 110vh;
      }

      #resource-display-div {
        height: 110vh;
    }

}

/* for tablets */
@media only screen and (min-width: 750px) and (max-height: 1300px) {
        #back-background-block {
          height: 68vh;
        }
    
        #carouselExampleFade {
            height: 68vh;
        }
    
        #carousel-inner {
            height: 68vh;
        }
    
        #carousel-button {
            height: 68vh;
        }
    
        #form {
            height: 68vh;
        }

        #resource-display-div {
            height: 68vh;
        }
    }

/* for laptop 13" screen and larger */
@media only screen and (min-width: 900px) {
    #back-background-block {
      height: 92vh;
    }

    #carouselExampleFade {
        height: 92vh;
    }

    #carousel-inner {
        height: 92vh;
    }

    #carousel-button {
        height: 92vh;
    }

    #form {
        height: 92vh;
    }

    #resource-display-div {
        height: 92vh;
    }
}

.badge-secondary { font-size: 0.1em }

/* carousel height */
carousel { height: calc(100vh - 56px);}
.carousel-inner,.carousel-item { height: 100%;}

/* clearfix for potential div overflow */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
 
/* form placeholder text fomatting */
.form-control::placeholder {
    color:black;
    font-size: 0.8em;
    font-weight: normal;
    text-align: center;
}

.form-inline::placeholder {
    color:black;
    font-size: 0.7em;
    font-weight: normal;
    text-align: center; 
}

input:invalid:required {
    background-image: linear-gradient(to left, rgb(172, 70, 70), white)
}

input:valid {
    border: 0.5rem gray;
}

textarea:invalid:required {
    background-image: linear-gradient(to left, rgb(172, 70, 70), white)
}

textarea:valid {
    border: 0.5rem gray;
}

#nav {
    background-color: rgb(195, 235, 195) !important;
    background-size: cover;
    font-size: 1em;
    width: 100vw;
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold; 
}

/* background block contains all page content */
#back-background-block {
    background-color: whitesmoke;
    width: 100%;
}

/* functions as 2nd nav bar */
#background-block {
    background-image: url('/static/macha-library-wallpaper.jpeg');   
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-bottom: 0.08em black solid;
    background-size: cover;
    font-size: 0.9em;
    width: 100%;
}

#main-content-block {
    background-color: whitesmoke;
    width: 100%;
}

/* quote block content div */
#side-text-block {
    background-image: url('/static/bookstack.jpeg');   
    background-attachment: fixed;
    background-size: 250px;
    padding: 1em;
    color: black;
    font-family:'Courier New', Courier, monospace;
    font-size: 0.8rem;
    z-index: 1;
}

#side-text-format {
    background-color: rgb(195, 235, 195);
    color: black;
    font-size: 1em;
    text-align: center;
    border: solid black 0.08em;
    padding: 0.3rem;
}

#blockquote-right {
    background-color: rgb(195, 235, 195);
    width: 55px;
    height: 55px;
}

#blockquote-left {
    background-color: rgb(195, 235, 195);
    width: 55px;
    height: 55px;
}

/* categories dropdown menu */
#select-dropdown-menu {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

/* username and date text*/
#dateBlock {
    font-size: 0.8em !important;
    font-weight: normal;
    color: white;
    background-color: rgb(99, 109, 117);
    padding: 0.2rem;
    margin-top: 0.3rem;
    margin-right: 0.2rem;
}

#username-text {
    font-weight: normal !important;
    font-size: 0.9em !important;
    background-color: rgb(99, 109, 117);
    color: white;
    font-weight: normal;
    padding: 0.2rem;
    margin-top: 0.3rem;
}

/* carousel IDs */
#carousel-content {
    justify-items: center;
    align-items: center;
}

#carousel-inner {
    background-color: whitesmoke;     
    text-align: center;
    justify-content: center;
    font-size: 1em;
    position: absolute;
    vertical-align: middle;
    padding-right: 2rem;
    padding-left: 2rem;
}

#carousel-button {
    background-image: url('/static/macha-library-wallpaper.jpeg');   
    opacity: 1 !important;
    width: 7%;
}

#carousel-btn-label {
    font-size: 0.8em !important;
    color: whitesmoke !important;
}

#carousel-link {
    color: darkgreen !important;
    font-weight: normal !important;
    font-size: 1.3rem !important;
    padding: 0.5rem;
}

#img-thumbnail {
    padding: 0.1rem;
    justify-self: center;
}

#carousel-body-text {
    font-weight: normal;
    padding: 1.5rem;
    font-size: 0.9em;
}

#static-display-div {
    background-color: whitesmoke !important;
    border-style: solid;
    border-radius: 1em;
    text-align: center;
    border-color: rgb(195, 235, 195);
    font-size: 1em;
    padding-left: 3em;
    padding-right: 3em;
}

/* image to fill base of md size screens */
#static-display-bg-div {
    background-image: url('/static/macha-library-wallpaper.jpeg');   
    background-attachment: fixed;
    padding: 1em;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* all buttons */
#btn {
    font-weight: normal;
    border-color: black;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
    font-size: inherit;
}

/* form div */
#form {
    z-index: 1;
    background-color: whitesmoke;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    font-weight: normal;
    text-align: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
}

/* text formatting and sizes */
#text-field {
    width: 25rem;
}

#text-body {
    color: black !important;
    font-weight: normal !important;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    text-align: center;
    align-self: center;
    justify-self: center;
    justify-content: center;
}

#text-body-default {
    color: black;
    font-weight: normal;
    padding-left: 1rem;
    padding-right: 1rem;
}

#form-text-other {
    font-size: 0.8em;
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold; 
    color: black;
}

#message-text {
    font-size: 0.9em;
    font-weight: bold !important;
    text-align: center;
    color: black;
    justify-self: center;
    align-self: center;
    justify-content: center;
}

#formHelpBlock {
    font-weight: normal !important;
    font-size: 0.7em;
    font-family: 'Courier New', Courier, monospace; 
}

#uploadLabel {
    text-align: left;
}

#form-checkbox, #form-checkbox2 {
    justify-content: center;
    text-align: center;
    background-color: rgb(195, 235, 195);
}

#entry-file {
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold; 
}

/* footer */
#footer {
    background-color: rgb(195, 235, 195);
    padding: 0;
    z-index: 1;
}
