
/* darkmode z-index control */
.darkmode-layer, .darkmode-toggle {
    z-index: 2;
}

/* darkmode image colour override control */
.darkmode--activated .img-thumbnail #img-thumbnail {
    isolation: isolate;
    mix-blend-mode: difference;
}

.img-thumbnail {
    height: auto;
    width: auto;
}

/* responsive font size */
html { font-size: calc(0.7em + 0.7vw) }
button { font-size: inherit }
input { font-size: inherit }

h4 { 
    text-align: center; 
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold; 
}

h6 { 
    text-align: center;
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold;  
}

body { font-size: 0.8em }
input { text-align: center }

.badge-secondary { font-size: 0.1em }
 
/* form placeholder text fomatting */
.form-control::placeholder {
    font-family: 'Courier New', Courier, monospace;
    color:black;
    font-size: 0.8em;
    font-weight: normal;
    text-align: center;
}

.form-inline::placeholder {
    font-family: 'Courier New', Courier, monospace;
    color:black;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center; 
}

.form-control::placeholder {
    font-family: 'Courier New', Courier, monospace;
    color:black;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center; 
}

input {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 0.8rem;
}

#nav {
    background-color: rgb(195, 235, 195) !important;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1em;
    width: 100vw;
}

#search-box {
    border: solid black 0.08em;
}

#select-dropdown-menu {
    font-family: 'Courier New', Courier, monospace;
}

/* background block contains all page content */
#back-background-block {
    background-color: whitesmoke;
    width: 100%;
}

/* functions as 2nd nav bar */
#background-block {
    background-image: url('/static/macha-library-wallpaper.jpeg');   
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-bottom: 0.08em black solid;
    background-size: cover;
    font-size: 0.9em;
    width: 100%;
    padding-bottom: 0.8em;
}

#main-content-block {
    background-color: whitesmoke;
    width: 100%;
}

/* username and date text*/
#dateBlock {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em !important;
    font-weight: 600;
    color: white;
    padding: 0.2rem;
    margin: 0.2em;
}

#carousel-body-text {
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace; 
    padding: 1.5rem;
    font-size: 0.9em;
}

#display-div {
    background-color: whitesmoke !important;
    text-align: center;
    border: ridge 3px gray;
    border-radius: 10px;
    font-size: 1em;
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 1em;
}

/* image to fill base of md size screens */
#display-bg-div {
    background-color: rgb(195, 235, 195);
    padding: 1em;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#mobile-bg-div {
    background-color: rgb(195, 235, 195);
    color:rgb(195, 235, 195);
    height: 8vh;
    width: 100%;
    overflow: auto;
}

#mobile-bg-div-2 {
    background-color: rgb(195, 235, 195);
    color:rgb(195, 235, 195);
    height: 40vh;
    width: 100%;
    overflow: auto;
}

#title {
    color: green;
}

/* all buttons */
#btn {
    font-family: 'Courier New', Courier, monospace;
    border-color: black;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
    font-size: inherit;
}

#btn-delete {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    border-color: black;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
    font-size: 0.6rem;
}

/* form div */
#form {
    z-index: 1;
    background-color: whitesmoke;
    border: ridge 3px gray;
    padding: 2em;
    padding-bottom: 1em;
    font-weight: normal;
    text-align: center;
}

/* text formatting and sizes */
#text-field {
    width: 25rem;
}

#text-body {
    color: black !important;
    font-weight: normal !important;
    font-family: 'Courier New', Courier, monospace !important;
    padding: 1rem;
    text-align: center;
}

#text-light-edit {
    color: white !important;
}

#form-text-other {
    font-size: 0.8em;
    color: black;
}

#message {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    text-align: center;
    color: black !important;
}

#formHelpBlock {
    font-weight: normal !important;
    font-size: 0.7em;
    margin: 0.5rem;
}

#uploadLabel {
    font-family:'Courier New', Courier, monospace;
    text-align: left;
}

#username-btn {
    font-weight: 500 !important;
}

#form-checkbox, #form-checkbox2 {
    justify-content: center;
    text-align: center;
    background-color: rgb(195, 235, 195);
}

#entry-file {
    font-family: 'Courier New', Courier, monospace; 
}

#entryDesc {
    height: 3em;
}

/* footer */
#footer {
    background-image: url('/static/macha-library-wallpaper.jpeg');
    color: white;
    padding: 0;
    z-index: 1;
}