{% extends "macha-layout.html" %}

{% block title %}
  macha login
{% endblock %}

{% block main %}
<!--START login form for main block-->
<form action="/macha-login" method="POST">
  <div class="container-fluid col-md-8 justify-content-center text-center" aria-label="login-form" id="form">
<!--error message div-->
<br>
{% if message %}
    <div class="col-md-6 alert alert-danger alert-dismissible text-center" style="margin-left: 9rem;">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <b><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
        <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
        <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
      </svg> {{ message }}</b></div> 
    {% endif %}
<!--username text input-->
    <div class="row justify-content-center align-items-center">
      <div class="form-group col-md-6 text-center" aria-label="login-form">
        <p class="text-justify" id="text-body"><h4>Login</h4></p>
        <br>
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" aria-describedby="usernameBlock" id="loginUsername" required minlength="3" maxlength="15"> 
<!--password text input--><br>
        <input autocomplete="off" autofocus class="form-control" name="password" placeholder="Password" type="password" aria-describedby="passwordBlock" id="loginPassword" required minlength="8" maxlength="30">   
      </div>
    </div>
<!--submit button input-->
    <div class="row justify-content-center align-items-center">
      <div class="form-group col-md-4 text-center" id="text-body">
        <button name="submit" class="btn btn-success" type="submit" value="submit" id="btn">Submit</button>       
      </div>
    </div>
  </div>
</form>
<!--END login form for main block-->
{% endblock %}